#allotment h2 {
  color:orange;
}
#warehouse h2 {
  color: blue;
}
#allotment .fruits-list {
  color: gray;
}

#allotment .vegetables-list {
  color: red;
}

#warehouse .fruits-list {
  color: green;
}

#warehouse .vegetables-list {
  color: red;
}

thead {
  background-color: white;
}
table {
  
  border: 1px double black;
  text-align:center;
  font-weight: 700;
}
table td {
  border: 1px solid black;
}
tbody {
  background-color:green;
  color:white;
}
tbody tr td:first-child {
  background-color: white;
  text-align: left;
  color:orange;
}